Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Levels/*
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Levels/TestLevel/*
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Globals/*
meta.lsx
log.txt
goals.div
goals.raw
story.div
story.div.osi
story_ac.dat
story_definitions.div
story_header.div
