
#TestLevel stuff. Nothing special here. Just a basic level.
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Levels/*
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Levels/TestLevel/*
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Globals/*
Editor/Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Levels/*

#Story files that can be compiled by the user (only raw files needed).
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/meta.lsx
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Story/log.txt
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Story/goals.div
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Story/goals.raw
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Story/story.div
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Story/story.div.osi
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Story/story_ac.dat
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Story/RawFiles/story_definitions.div
Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Story/RawFiles/story_header.div

#Assets
Editor/Mods/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Assets/Effects/*
Public/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/Assets/*
Public/CivilAuras_37fa9f1f-0e4e-48dc-8b89-4d0c6438e92b/GUI/*

#Log files, etc
*.log
StatsEditorConfig.xml
COMBAT_LLLE_Humans_Trader.ailog
DockPanel.config
EditorBrowserMetadata_e19e4cc5-7fa7-45ed-8fbb-e5e02eb1d60e.xml
EffectEditorConfig.xml

#Binary Files
*.bik
*.bnk
*.bshd
*.bullet
*.cur
*.dat
*.data
*.dds
*.fnt
*.gr2
*.iggy
*.iggytex
*.lsb
*.lsf
*.lsfx
*.osi
*.patch
*.png
*.swf
*.tga
*.tmpl
*.ttf